/* currencies-style.css */
.currency-box {
    background-color: black;
    height: 30em;
    padding-top: 2.5em; /* Add padding to create space above the content */
    text-align: left; /* Align text to the left */

}

#topic {
    font-size: 3em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1em;
}
